<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>73</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>72</string>
					<key>Timestamp</key>
					<string>775221586.783998</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fishing3/Edit Entry/EditEntryWeather.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        Text("Apple Weather")
</string>
				<key>leading</key>
				<string>                        Spacer().frame(height: AppSize.smallSpace)
                        
</string>
				<key>trailing</key>
				<string>                        
                        
                    }
</string>
			</dict>
			<key>title</key>
			<string>Need to add correct attribution.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>40</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>39</string>
					<key>Timestamp</key>
					<string>776076805.470542</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>fishing3/Charts/ChartsView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        descriptor.fetchLimit = 300
</string>
				<key>leading</key>
				<string>        //Construct descriptor
        var descriptor = FetchDescriptor&lt;Entry&gt;( sortBy: [SortDescriptor(\.timestamp, order: .forward)])
</string>
				<key>trailing</key>
				<string>        
        //Fetch with descriptor
        do {
</string>
			</dict>
			<key>title</key>
			<string>Give a higher fetch limit</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
